//
//  Config-ZSApp.debug.xcconfig
//  ZSApp
//
//  Created by zhoushuai on 2021/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// -I<directory> : 在指定目录寻找头文件
HEADER_SEARCH_PATHS = $(inherited) '${SRCROOT}/ZSTools' '${SRCROOT}/ZSTools2'
// -F，指定动态库所在目录
LIBRARY_SEARCH_PATHS = $(inherited) '${SRCROOT}/ZSTools' '${SRCROOT}/ZSTools2'
// -l<library_name> : 链接静态的库名称
//OTHER_LDFLAGS = $(inherited)  -Xlinker -l"ZSTools" -l"ZSTools2"


//OTHER_LDFLAGS = $(inherited)  -Xlinker -all_load -l"ZSTools" -l"ZSTools2"


OTHER_LDFLAGS = $(inherited)  -Xlinker  -ObjC -l"ZSTools" -l"ZSTools2"



































