//
//  Config-ZSApp.debug.xcconfig
//  ZSApp
//
//  Created by zhoushuai on 2021/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// 
 
HEADER_SEARCH_PATHS = "${SRCROOT}/../ZSFramework/Pods/Headers/Public/AFNetworking" $(inherited)

